body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: yellow;
}

header {
    background-color: black;
    color: yellow;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: yellow;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: yellow;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
